.nav {
  padding: 20px 0;
  width: 100%;
}

.nav ul {
  display: flex;
  justify-content: space-between;
}

.navLink {
  text-decoration: none;
  color: gray;
}

.navLink:hover {
  color: white;
}

.active {
  border-bottom: 2px solid white;
  color: white;
}